<li class="player-card">
  <a [routerLink]="'/clubs/' + club.clubId">
    <div class="player-card-photo">
      <img [src]="club.imageLink" [alt]="club.name + '- image'" />
    </div>
    <div class="player-card-info">
      <div>
        <h2>{{ club.name }}</h2>
      </div>
      <div>
        <ul>
          <li>Coach Name: {{ club.coachName }}</li>
          <li>Stadium: {{ club.stadiumName }}</li>
          <li>League: {{ club.league.name }}</li>
          <li>Founded: {{ club.foundedYear | date }}</li>
        </ul>
      </div>
    </div>
  </a>
</li>
