main {
  display: flex;
  justify-content: center;
  margin: 3rem auto;
}

.player-card {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: fit-content;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.player-card-photo {
  width: 100%;
  height: 20rem;
}

.player-card-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.player-card-info div {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

span {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--primary);
}

h2 {
  font-size: 1.5rem;
  color: var(--primary);
  margin: 0;
  font-weight: 600;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin: 0 0.5rem;
  color: var(--primary);
}

.player-card-actions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
